package-lock.json merge=npm-merge-driver
*.png diff=exif
*.jpg diff=exif
*.svg diff=exif
# gpg related
*.gpg filter=gpg diff=gpg
*.asc filter=gpg diff=gpg
KEY      text
LICENSE* text
*.html   text diff=html
test/ export-ignore
